/*ACCESO DE USUARIO*/
#acceso .ui-content {
    background: linear-gradient(to bottom, #f8ffe8 0%,#e3f5ab 52%,#b7df2d 100%,#b7df2d 100%);
    max-width: 380px;
    margin: 0 auto;
    margin-top: 25px;
    border: 4px inset limegreen;
    border-radius: 15px;
}
#acceso .ui-field-contain > label ~ [class*="ui-"], 
.ui-field-contain .ui-controlgroup-controls{
	width: 250px;
}
#acceso .ui-field-contain{

}

#acceso .ui-link.ui-btn.ui-icon-user.ui-btn-icon-left.ui-shadow.ui-corner-all{
	width: 140px;
	margin: 0 auto;
	background-color: white;
	border: 2px solid darkgreen;
	color: darkgreen;
	font-family: sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	box-shadow: 4px 6px 8px 1px rgba(180,235,129,1);
}
#acceso .ui-link.ui-btn.ui-icon-user.ui-btn-icon-left.ui-shadow.ui-corner-all:hover{
	background-color: #A7CB5F;
	transition: background 0.3s ease-in-out;
}
#acceso .ui-field-contain > label, .ui-field-contain .ui-controlgroup-label, .ui-field-contain > .ui-rangeslider > label{
	color: darkgreen;
	font-weight: bold;
	width: 27%;
	font-family: sans-serif;
}

/*CABECERA*/
.cabecera{
	padding: 20px 10px;
	border-radius: 10px;
	background: linear-gradient(to top, #f8ffe8 0%,#e3f5ab 52%,#b7df2d 100%,#b7df2d 100%);
}

.ui-header .ui-btn, .ui-footer .ui-btn{
	width: 60px;
	margin: 0 auto;
	background-color: white;
	border: 2px solid darkgreen !important;
	color: darkgreen !important;
	font-family: sans-serif;
	text-transform: uppercase;
	font-size: 12px;
}

 .ui-header .ui-btn:hover, .ui-footer .ui-btn:hover{
 	background-color: #A7CB5F;
	transition: background 0.3s ease-in-out;
 }
/*ESCOGER ASIGNATURA*/
.ui-select .ui-btn{
	width: 200px;
}
.ui-select .ui-btn:active,.ui-select .ui-focus,.ui-select .ui-btn:focus, .ui-select .ui-btn:hover{
	background-color: #A7CB5F;
	box-shadow: none;
	border: green;
	transition: background 0.3s ease-in-out;
}

.ui-field-contain > label ~ [class*="ui-"], 
.ui-field-contain .ui-controlgroup-controls{
	width: 44%;
	padding-right: 0px;
	
}

.ui-field-contain .ui-focus{
	box-shadow: none;
}

.contenido {
    width: 600px;
    margin: 0 auto;
}

.ui-field-contain > label, 
.ui-field-contain .ui-controlgroup-label, 
.ui-field-contain > .ui-rangeslider > label{
	width: 30%;
	font-family: sans-serif;
	color: darkgreen;
	font-weight: bold;
}

.ui-content{
	background-color: #e3f5ab;
}

.ui-link.ui-btn.ui-icon-check.ui-btn-icon-left.ui-shadow.ui-corner-all{
	width: 170px;
	margin: 0 auto;
	margin-top: 35px;
	background-color: white;
	border: 2px solid darkgreen;
	color: darkgreen;
	font-family: sans-serif;
	text-transform: uppercase;
	font-size: 14px;
}

.ui-link.ui-btn.ui-icon-check.ui-btn-icon-left.ui-shadow.ui-corner-all:hover{
	background-color: #A7CB5F;
	box-shadow: none;
	transition: background 0.3s ease-in-out;
}

.pie{
	height: 70px;
	background: linear-gradient(to bottom, #f8ffe8 0%,#e3f5ab 52%,#b7df2d 100%,#b7df2d 100%);
}

/*CONTENIDO DEL PROYECTO*/
@keyframes aparecer {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
 }
h3{
	color: darkgreen;
  animation-duration: 3s;
  animation-name: aparecer;
  text-shadow: 1px 2px 1px #BFFFB3;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.ui-content > label{
	font-style: italic;
	font-size: 13px;
}

h4{
	text-transform: uppercase;
	text-decoration: underline;
	margin-bottom: 40px;
	margin-top: 40px;
}

.grupo{
	margin-left: 40px;
}

.ui-link.ui-btn.ui-icon-action.ui-btn-icon-left.ui-shadow.ui-corner-all{
	width: 200px;
	margin: 0 auto;
	margin-top: 35px;
	background-color: white;
	border: 2px solid darkgreen;
	color: darkgreen;
	font-family: sans-serif;
	text-transform: uppercase;
	font-size: 16px;
	margin-top: 70px;
}

.ui-link.ui-btn.ui-icon-action.ui-btn-icon-left.ui-shadow.ui-corner-all:hover{
	background-color: #A7CB5F;
	box-shadow: none;
	transition: background 0.3s ease-in-out;
}

#oral .grupo{
	margin-bottom: 60px;
}

#oral .ui-field-contain > label{
	width: 45%;
}

#notas h3{
	font-size: 32px;
	text-align: center;
}

.ui-page-theme-a a{
	color: darkgreen !important;
	text-transform: uppercase;
}
.ui-page-theme-a a:hover{
	color: black !important;
	transition: color 0.3s ease-in-out;
}